# Git
.git
.gitignore

# Build outputs
**/bin/
**/obj/
**/out/

# Visual Studio
.vs/
*.user
*.suo

# JetBrains Rider
.idea/

# Docker
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.yaml

# Misc
*.log
.DS_Store